[MODE]
mode={
      'employee':'all'}

[DB]
db_uat_config = {'host': '10.12.64.202',
             'user': 'root',
             'password': 'RounDz1x2c3v4b5',
             'port': 3306,
             'database': 'rts_member'}

[URL]
uat_url = https://uatleague.round-table-union.com
release_url = https://league.round-table-union.com